{% extends 'works/base.html'%}

{% load static %}

{% block content %}
<!-- Header -->
<header class="mcmasthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Profile</div>
      <div class="intro-heading text-uppercase">Peak A</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#proj">Explore</a>
    </div>
  </div>
</header>

<br>
<br>
<div class="container" >
<div id="proj">
<div class="col-lg-12 text-center">
  <h2 class="section-heading text-uppercase">SOLOs</h2>
</div>
<br>
</div>

<div class="row">
    <div class="col-lg-6 text-center">
      <iframe width="460" height="259" src="https://www.youtube.com/embed/jGtVmDyRipo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h5 class="section-heading text-uppercase">Cold Mankato</h5>
      <h6 class="section-subheading text-muted">Peak A</h6>
    </div>
    <br>
    <div class="col-lg-6 text-center">
      <iframe width="460" height="259" src="https://www.youtube.com/embed/Tp4rsDliJGI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h5 class="section-heading text-uppercase">Something New (REMIX) - LIVE</h5>
      <h6 class="section-subheading text-muted">Peak A</h6>
    </div>
    <br>
    <div class="col-lg-6 text-center">
      <iframe width="460" height="259" src="https://www.youtube.com/embed/z5RQ7ZJwx7s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h5 class="section-heading text-uppercase">Sathi "Extended"</h5>
      <h6 class="section-subheading text-muted">Peak A</h6>
    </div>
    <br>
    <div class="col-lg-6 text-center">
      <iframe width="460" height="259" src="https://www.youtube.com/embed/Oc2jM8akTw0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h5 class="section-heading text-uppercase">Timro Maya</h5>
      <h6 class="section-subheading text-muted">Peak A (MJ PK)</h6>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="col-lg-12 text-center">
  <h2 class="section-heading text-uppercase">Colaborations</h2>
</div>
<br>

<div style="float: right;" class="row">
    <div class="col-lg-6 text-center">
      <iframe width="460" height="259" src="https://www.youtube.com/embed/jU8XFI1BFGs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h5 class="section-heading text-uppercase">Lesson From Life</h5>
      <h6 class="section-subheading text-muted">Peak A, Elisoul, Ashyanpe</h6>
    </div>
    <br>
    <div class="col-lg-6 text-center">
      <iframe width="460" height="259" src="https://www.youtube.com/embed/wqWMbNtW264" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h5 class="section-heading text-uppercase">Abhiman</h5>
      <h6 class="section-subheading text-muted">Keoza Ft. AGAINST, Peak A</h6>
    </div>
    <br>
    <div class="col-lg-6 text-center">
      <iframe width="460" height="259" src="https://www.youtube.com/embed/KZDGQ9RxMps" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h5 class="section-heading text-uppercase">Better Life</h5>
      <h6 class="section-subheading text-muted">Peak A ft. Necks (Prod. Mixla)</h6>
    </div>
    <br>
    
</div>
</div>



{% endblock %}